![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Factores que influyen en el abondono laboral"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "El objetivo de este EDA es encontrar patrones en las variables que afectan al abondono laboral dentro de esta base de datos ficticia."

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "El grado de satisfacción con el empleo influye negativamente en el abandono laboral (a mayor satisfaccion, menor abandono)"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "El grado de satisfacción con el ambiente de trabajo influye negativamente en el abandono laboral (cuanto mejor ambiente, menor abandono)"
hipotesis_3 = "El grado de desempeño laboral influye negativamente en el abandono laboral (a mayor desempeño, menor abandono)"
hipotesis_4 = "Tener acciones de la empresa influye negativamente en el abandono laboral"
hipotesis_5 = "La edad influye negativamente en el abandono laboral (a mayor edad, menor abanondono)"
hipotesis_6 = "Un desequilibrio entre la vida personal y el trabajo puede influir positivamente en el abandono laboral"
hipotesis_6 = "La cantidad de años desde la última promoción tiene un impacto positivo en el abandono laboral (cuantos más años desde la última promoción, mayor abandono)"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [2]:
import pandas as pd
# guarda en variables los datasets y su fuente

df = pd.read_csv(r'C:\Users\rafam\OneDrive\Documentos\GitHub\mi_copia_dsftmayo24semana1.1\semana 2\1_Data_Analysis\Entregas\EDA\WA_Fn-UseC_-HR-Employee-Attrition.tsv.txt', delimiter='\t')
df
df_1 = pd.DataFrame(df)
fuente_1 = "https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
df_1.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2