# Introducción al análisis: filtrar y ordenar datos



### 1. Importa las librerías necesarias

In [168]:
import numpy as np
import pandas as pd

### 2. Importa el dataset de esta dirección [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y guardarlo en una variable llamada chipo.

In [169]:
df= pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter= '\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 3. Cuál es el producto más valioso? Piénsalo bien.

In [170]:
df['item_price']= df['item_price'].str.replace("$", "")

In [171]:
df['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [172]:
df['item_price']= df['item_price'].astype(float)

In [173]:
df['quantity']= df['quantity'].astype(float)

In [174]:
df['valor_prod']= df['item_price']/ df['quantity']

In [175]:
valor_prod= df['item_price']/ df['quantity']

In [176]:
df['valor_prod'].argmax()

281

In [177]:
valor_prod[valor_prod.argmax()]

11.89

In [206]:
df.iloc[281]

order_id                                                            123
quantity                                                            2.0
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                        23.78
valor_prod                                                        11.89
Name: 281, dtype: object

### 4. Cuántos productos cuestan más de $10.00?

In [178]:
prods_mayor_diez = np.array(valor_prod >= 10.0)

In [179]:
df['valor_prod']= df['valor_prod'].astype(float)

In [180]:
np.sum(df['valor_prod'] > 10)

1034

In [181]:
len(df['valor_prod'][df['valor_prod']> 10])

1034

In [182]:
nuevo_df= df[df.valor_prod > 10].copy()

In [183]:
# 1034 productos

### 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$?

In [184]:
nuevo_df

,order_id,quantity,item_name,choice_description,item_price,valor_prod
5,3,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1.0,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1.0,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1.0,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1.0,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1.0,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

In [185]:
nuevo_df['order_id'].nunique()

787

In [186]:
# 787 pedidos tienen un producto de mas de 10€

### 4.2: Y cuántos pedidos se han hecho de más de 10$?

In [187]:
nuevo_df2= df[df.item_price > 10].copy()

In [188]:
nuevo_df2

,order_id,quantity,item_name,choice_description,item_price,valor_prod
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1.0,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1.0,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1.0,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
...,...,...,...,...,...,...
4610,1830,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1.0,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

In [189]:
nuevo_df2['order_id'].nunique()

863

In [190]:
#se han hecho 863 pedidos de mas de 10€

### 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto?

In [191]:
nuevo_df['order_id'].nunique()

787

### 5. Ordena de mayor a menor por el nombre del producto y por precio unitario

In [192]:
nombre_items= df['item_name'].unique()

In [193]:

lista_valores=[]
for i in range(len(nombre_items)):
    lista_valores.append(df['valor_prod'][i])


lista_nombres=[]
for i in range(len(nombre_items)):
    lista_nombres.append(df['item_name'][i])

In [198]:
print(lista_valores)

print(nombre_items)

[2.39, 3.39, 3.39, 2.39, 8.49, 10.98, 1.69, 11.75, 9.25, 9.25, 4.45, 8.75, 8.75, 11.25, 4.45, 2.39, 8.49, 8.49, 1.09, 8.75, 4.45, 8.99, 3.39, 10.98, 3.39, 2.39, 8.49, 8.99, 1.09, 8.49, 2.39, 8.99, 1.69, 8.99, 1.09, 8.75, 8.75, 4.45, 2.95, 11.75, 2.15, 4.45, 11.25, 11.75, 8.75, 10.98, 8.99, 3.39, 8.99, 3.99]
['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

In [195]:
for i in range(len(nombre_items)):
    lista_nombres.append(df['item_name'][i])
    print(df['item_name'][i], df['valor_prod'][i])

Chips and Fresh Tomato Salsa 2.39
Izze 3.39
Nantucket Nectar 3.39
Chips and Tomatillo-Green Chili Salsa 2.39
Chicken Bowl 8.49
Chicken Bowl 10.98
Side of Chips 1.69
Steak Burrito 11.75
Steak Soft Tacos 9.25
Steak Burrito 9.25
Chips and Guacamole 4.45
Chicken Crispy Tacos 8.75
Chicken Soft Tacos 8.75
Chicken Bowl 11.25
Chips and Guacamole 4.45
Chips and Tomatillo-Green Chili Salsa 2.39
Chicken Burrito 8.49
Chicken Burrito 8.49
Canned Soda 1.09
Chicken Bowl 8.75
Chips and Guacamole 4.45
Barbacoa Burrito 8.99
Nantucket Nectar 3.39
Chicken Burrito 10.98
Izze 3.39
Chips and Fresh Tomato Salsa 2.39
Chicken Bowl 8.49
Carnitas Burrito 8.99
Canned Soda 1.09
Chicken Burrito 8.49
Chips and Tomatillo-Green Chili Salsa 2.39
Steak Burrito 8.99
Side of Chips 1.69
Carnitas Bowl 8.99
Bottled Water 1.09
Chicken Soft Tacos 8.75
Chicken Soft Tacos 8.75
Chips and Guacamole 4.45
Chips and Tomatillo Green Chili Salsa 2.95
Barbacoa Bowl 11.75
Chips 2.15
Chips and Guacamole 4.45
Chicken Bowl 11.25
Steak Burrito 11.75
Chicken Salad Bowl 8.75
Chicken Burrito 10.98
Steak Burrito 8.99
Izze 3.39
Steak Burrito 8.99
Chips and Guacamole 3.99

In [200]:
valor_productos_nombre= pd.Series(lista_valores, index=nombre_items)

In [202]:
DFx= pd.DataFrame({'valor_productos_nombre': valor_productos_nombre})

In [205]:
DFx.sort_values(by='valor_productos_nombre', ascending= False)

                                       valor_productos_nombre
Crispy Tacos                                            11.75
Veggie Soft Tacos                                       11.75
Steak Soft Tacos                                        11.75
Chips and Mild Fresh Tomato Salsa                       11.25
Barbacoa Burrito                                        11.25
Barbacoa Salad Bowl                                     10.98
Side of Chips                                           10.98
Veggie Burrito                                          10.98
Chicken Crispy Tacos                                     9.25
Chips and Guacamole                                      9.25
Canned Soft Drink                                        8.99
Barbacoa Crispy Tacos                                    8.99
Steak Bowl                                               8.99
Salad                                                    8.99
Veggie Salad                                             8.99
Carnitas Soft Tacos                                      8.99
6 Pack Soft Drink                                        8.75
Carnitas Salad Bowl                                      8.75
Chips                                                    8.75
Canned Soda                                              8.75
Chicken Burrito                                          8.75
Chips and Tomatillo-Red Chili Salsa                      8.75
Chips and Tomatillo Green Chili Salsa                    8.49
Chips and Tomatillo Red Chili Salsa                      8.49
Chicken Bowl                                             8.49
Chips and Roasted Chili-Corn Salsa                       8.49
Bottled Water                                            8.49
Chicken Salad Bowl                                       4.45
Carnitas Burrito                                         4.45
Steak Salad                                              4.45
Chicken Soft Tacos                                       4.45
Bowl                                                     4.45
Carnitas Salad                                           3.99
Izze                                                     3.39
Veggie Bowl                                              3.39
Barbacoa Soft Tacos                                      3.39
Veggie Crispy Tacos                                      3.39
Nantucket Nectar                                         3.39
Burrito                                                  2.95
Chips and Fresh Tomato Salsa                             2.39
Chips and Roasted Chili Corn Salsa                       2.39
Carnitas Bowl                                            2.39
Chips and Tomatillo-Green Chili Salsa                    2.39
Steak Crispy Tacos                                       2.39
Carnitas Crispy Tacos                                    2.15
Chicken Salad                                            1.69
Steak Burrito                                            1.69
Steak Salad Bowl                                         1.09
Veggie Salad Bowl                                        1.09
Barbacoa Bowl                                            1.09

### 6. Cuál es la cantitad del producto más caro?

In [208]:
df['valor_prod'].argmax()

281

In [209]:
df.iloc[281]

order_id                                                            123
quantity                                                            2.0
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                        23.78
valor_prod                                                        11.89
Name: 281, dtype: object

In [ ]:
# el producto mas caro es steak salad bowl

In [222]:
len(df['item_name'][df['item_name'] == "Steak Salad Bowl"])

29

In [229]:
SSB= df['quantity'][df['item_name'] == "Steak Salad Bowl"]

In [230]:
SSB.sum()

31.0

In [ ]:
# se han comprado un total de de 31 steak salad bowls [(27*1) + (2*2)]

### 7. Cuáles han sido las cantidades vendidas de Chicken Bowl? Y cuántos pedidos?

In [233]:
CB= df['quantity'][df['item_name'] == "Chicken Bowl"]

In [234]:
CB.sum()

761.0

In [ ]:
# se han vendido 761 unidades de Chicken Bowl

In [241]:
CB_pedidos= pd.Series(df['order_id'][df['item_name'] == "Chicken Bowl"])

In [244]:
len(CB_pedidos)

726

In [243]:
CB_pedidos.nunique()

615

In [ ]:
#ha habido 615 pedidos de chicken bowl

### 8. Cuántas veces alguien ha pedido más de una Canned Soda? Piénsalo bien.

In [251]:
CS_pedidos= pd.Series(df['order_id'][df['item_name'] == "Canned Soda"][df['quantity'] > 1])

In [252]:
CS_pedidos.nunique()

18

In [ ]:
# 18 veces se han pedido mas de una Canned Soda